.bg-img {
  background-image: url('/public/images/Header.png'); /* Assuming placed in the public/images folder */
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100vw;
  height: 100vh;
}
